# beautifulsoup4 tensorflow flask flask-cors Flask-PyMongo psycopg2 SQLAlchemy numpy pandas praw gunicorn
absl-py==1.0.0
astunparse==1.6.3
beautifulsoup4==4.10.0
cached-property==1.5.2
cachetools==4.2.4
charset-normalizer==2.0.7
click==8.0.3
flask==2.0.2
flask-cors==3.0.10
flask-pymongo==2.3.0
flatbuffers==2.0
gast==0.4.0
google-auth==2.3.3
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
greenlet==1.1.2
grpcio==1.42.0
gunicorn==20.1.0
h5py==3.6.0
idna==3.3
importlib-metadata==4.8.2
itsdangerous==2.0.1
jinja2==3.0.3
keras==2.7.0
keras-preprocessing==1.1.2
libclang==12.0.0
markdown==3.3.6
markupsafe==2.0.1
numpy==1.21.4
oauthlib==3.1.1
opt-einsum==3.3.0
pandas==1.3.4
praw==7.5.0
prawcore==2.3.0
protobuf==3.19.1
psycopg2==2.9.2
pyasn1==0.4.8
pyasn1-modules==0.2.8
pymongo[srv]==3.12.1
python-dateutil==2.8.2
pytz==2021.3
requests==2.26.0
requests-oauthlib==1.3.0
rsa==4.7.2
six==1.16.0
soupsieve==2.3.1
sqlalchemy==1.4.27
tensorflow-cpu==2.7.0
termcolor==1.1.0
typing-extensions==4.0.0
update-checker==0.18.0
urllib3==1.26.7
websocket-client==1.2.1
werkzeug==2.0.2
wrapt==1.13.3
zipp==3.6.0
