<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>How sexist is reddit?</title>
    <script src="https://d3js.org/d3.v6.min.js" charset="utf-8"></script>
    <link rel="stylesheet" href="/static/css/app.css">
  </head>
  <body>
    <h1>How sexist is reddit?</h1>
    <div class="menu">
      menu goes here
    </div>
    <div class="purpose">
      purpose/intro text goes here
    </div>
    <div class="steps">
      steps overview goes here
    </div>
    <script src="/static/js/app.js" charset="utf-8"></script>
  </body>
</html>
